<% for(let i = 0; i < LLTime.length; i++) { %>
    <!-- 가장 첫뻔째  -->
    <% if(i === 0) { %>
        <div class="dateNotation"><%= LLTime[i] %></div>
        <!-- 시간대가 동일할시 날짜 표기x-->
    <% } else if(LLTime[i - 1] === LLTime[i]){ %>
        <div class="dateNotation" hidden><%= LLTime[i] %></div>
    <% } else { %>
        <div class="dateNotation"><%= LLTime[i] %></div>
    <% } %>
    <div class="message_form" data-item-id="<%= contents[i].id %>">
        <div class="message_inbox">
            <div style="padding-top:0.3rem">
                <div class="profile_img">
                    <img src="https://img.icons8.com/ios-filled/52/000000/user-male-circle.png"/>
                </div>
            </div>
            <div class="chat_view">
                <div>
                    <div class="message_info">
                        <span class="name"><%= contents[i].sender %></span>
                        <span class="time"><%= contents[i].time %></span>
                    </div>
                </div>
                <div class="message_detail">
                    <%= contents[i].content %>
                </div>
            </div>
        </div>
    </div>
<% } %>
