<!doctype html>
<html lang="ko">
<head>
    <title>여행 세부정보</title>
    <link rel="shortcut icon" type="image⁄x-icon" href="https://img.icons8.com/doodle/48/000000/log-cabin.png">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/user/trip/trip_detail.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css"/>
</head>
<body>
<ul class="top_nav">
    <li id="logo"><a href="/" class="active"><img class="logo_image"
                                                  src="https://img.icons8.com/doodle/48/000000/log-cabin.png"></a></li>
    <div id="navAlign">
        <li><a href="/message">메시지</a></li>
        <li><a href="/trip">여행</a></li>
        <li><a><%= nickname %></a></li>
        <li><a href="/logout">로그아웃</a></li>
    </div>
</ul>

<div class="row">
    <div class="left_column">
        <div class="item">
            <div class="reservation_header">
                숙소예약
            </div>
            <div class="tray">
                <div class="hotel_img">
                    <img src="/static/images/rooms/<%= roomInfo[0].image %>"/>
                </div>
                <div class="content">
                    <div class="reserved_date">
                        <%=roomInfo[0].date.startDay%> – <%=roomInfo[0].date.endDay%>
                    </div>
                    <div class="hotel_name">
                        <%= roomInfo[0].name %>
                    </div>
                    <div class="check_time">
                        <div class="check_in">
                            <div class="name">
                                체크인
                            </div>
                            <div class="date">
                                <%= roomInfo[0].date.startDay %>
                            </div>
                            <div class="time">
                                오후 3:00
                            </div>
                        </div>
                        <div class="check_out">
                            <div class="name">
                                체크아웃
                            </div>
                            <div class="date">
                                <%=roomInfo[0].date.endDay%>
                            </div>
                            <div class="time">
                                오후 12:00
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="related_table">
                        예약번호
                        <div class="related_number">
                            <%= roomInfo[0].tid %>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="related_table">
                        총비용
                        <div class="related_number">
                            <%= roomInfo[0].amount.total %>원
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="related_active" onclick="moveToMessage(<%= roomInfo[0].message_id %>)">
                        >&nbsp; &nbsp; 호스트에게 메시지보내기
                    </div>
                    <div class="line"></div>
                    <div class="related_active" onclick="moveToRoomInfo(<%= roomInfo[0].room_id %>);">
                        >&nbsp; &nbsp; 숙소정보 보기
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    숙소 위치-->
    <div class="right_column">
        <div id="map"></div>
    </div>
</div>

<!--maps API -->
<script>
    function initMap() {
        const hotel = {lat: <%= roomInfo[0].location.map_let %>, lng: <%= roomInfo[0].location.map_lng %>};
        const map = new google.maps.Map(
            document.getElementById('map'), {zoom: 15, center: hotel});

        const marker = new google.maps.Marker({position: hotel, map: map});
    }
</script>

<!--모달처리 JS-->
<script src="/static/js/modal.js"></script>

<!--여행관련 JS-->
<script src="/static/js/user/trip.js"></script>

<!--구글 맵스-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBq4C8917Pxr1jaL8LAMhaIKwASCPRYpok&callback=initMap">
</script>
</body>
</html>
