<!doctype html>
<html lang="ko">
<head>
    <title><%= nickname %> 님의 프로필</title>
    <link rel="shortcut icon" type="image⁄x-icon" href="/static/images/logo/logo-cabin.png">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/nav.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/user/info/info_index.css"/>
</head>

<body>
<ul class="top_nav">
    <li id="logo">
        <a href="/" class="active">
            <img class="logo_image" src="/static/images/logo/logo-cabin.png">
        </a>
    </li>
    <div id="navAlign">
        <li><a href="/message">메시지</a></li>
        <li><a href="/trip">여행</a></li>
        <li><a href="/info" id="userName"><%= nickname %></a></li>
        <li><a href="/logout">로그아웃</a></li>
    </div>
</ul>

<div class="row">
    <% include ../../layout/user/user_info_column %>
    <div class="right_column">
        <div class="item" id="rightSide">
            <div class="review_category">
                <button class="item_title">작성가능한 후기</button>
                <button class="item_title" id="borderLine">작성했던 후기</button>
            </div>
            <% if(reviewList.length !== 0) { %>
                <% reviewList.forEach(function (val) { %>
                    <div class="tray">
                        <div class="card">
                            <img src="/static/images/rooms/<%= val.image %>"/>
                        </div>
                        <div class="img_desc">
                            <div class="interval" style="font-weight: bold">
                                <%= val.item_name %>
                            </div>
                            <div class="interval">
                                <%= val.date.startDay %> – <%= val.date.endDay %>
                            </div>
                        </div>
                        <div class="review_btn_box">
                            <button class="review_btn" data-room-id="<%= val.room_id %>">후기작성하기</button>
                            <div class="hidden" data-booking-id="<%= val.id %>"></div>
                        </div>
                    </div>
                    <div class="right_line"></div>
                <% }) %>
            <% } else{ %>
                <div class="empty_tray">
                    <div class="empty_card">
                        작성가능한 후기가 없어요
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>
<script src="/static/js/get_url.js"></script>

<!--이페이지 클릭관련, 페이지접속 초기설정 JS-->
<script src="/static/js/user/info/info_index.js"></script>
</body>
</html>