<!doctype html>
<html lang="ko">
<head>
    <title><%= roomsInfo.name %></title>
    <link rel="shortcut icon" type="image⁄x-icon" href="https://img.icons8.com/doodle/48/000000/log-cabin.png">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <!--    폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/room/detail.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/modal/login_modal.css"/>
    <!--    datePicker-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!--    datePicker-->
</head>
<body>
<ul class="top_nav">
    <li id="logo"><a href="/" class="active"><img class="logo_image"
                                                  src="https://img.icons8.com/doodle/48/000000/log-cabin.png"></a></li>
    <div id="navAlign">
        <% if(typeof nickname === "undefined") { %>
            <li><a id="openLogin">로그인</a></li>
            <li><a id="openRegister">회원가입</a></li>
        <% }else{ %>
            <li><a href="/message">메시지</a></li>
            <li><a href="/trip">여행</a></li>
            <li><a href="/info"><%= nickname %></a></li>
            <li><a href="/logout">로그아웃</a></li>
        <% } %>
    </div>
</ul>
<% if(typeof nickname === "undefined") { %>
    <% include ../layout/modal/login_modal %>
<% } %>
<!--본문-->
<!-- 숙소 이미지-->
<div>
    <div class="left_side">
        <img src="/static/images/rooms/<%= roomsInfo.image_1 %>"/>
    </div>
    <div class="middle_side">
        <img src="/static/images/rooms/<%= roomsInfo.image_2 %>"/>
        <img src="/static/images/rooms/<%= roomsInfo.image_3 %>"/>
    </div>
    <div class="right_side">
        <img src="/static/images/rooms/<%= roomsInfo.image_4 %>"/>
        <img src="/static/images/rooms/<%= roomsInfo.image_5 %>"/>
    </div>
</div>

<div class="row">
    <!--        숙소 이름, 간략정보-->
    <div class="left_column">
        <div class="item" id="leftSideTop">
            <div class="hotel_info">
                <div class="hotel_name">
                    <%= roomsInfo.name %>
                </div>
                <div style="font-size: 16px; margin-bottom:20px">
                    <%= roomsInfo.region %>
                </div>
                <div style="font-size: 16px;">
                    <span>인원 <%= roomsInfo.simple_info.peopleNum %>명</span>&nbsp;
                    <span>침실 <%= roomsInfo.simple_info.bedroom %>개</span>&nbsp;
                    <span>침대 <%= roomsInfo.simple_info.bed %>개</span>&nbsp;
                    <span>욕실 <%= roomsInfo.simple_info.bathroom %>개</span>
                </div>
            </div>
            <div class="line"></div>

        </div>
        <!--숙소설명-->
        <div class="item" id="leftSideMiddle">
            <div class="hotel_info">
                <div class="hotel_description">
                    <p><%- roomsInfo.intro_info %>
                    </p>
                </div>
            </div>
            <div class="line"></div>
            <!--숙소위치-->
            <div class="hotel_info">
                <div class="hotel_map">
                    <div class="location">
                        <span>숙소 위치</span>&nbsp;
                    </div>
                </div>
                <div id="map"></div>
            </div>
            <div class="line"></div>
        </div>

        <!--숙소후기-->
        <div class="item" id="leftSideBottom">
            <div class="hotel_info">
                <% if(roomsReview.length !== 0){ %>
                    <div class="hotel_review">
                        <div style="font-weight: bold; font-size: 17px;">
                            <span> 평점 <%= average %> / 5 </span>&nbsp;
                            <span>후기 <%= roomsReview.length %></span>
                        </div>
                    </div>
                    <div class="line"></div>
                    <% roomsReview.forEach((val)=>{ %>
                        <div class="tray">
                            <div style="width:100%">
                                <div class="review_profile">
                                    <div class="profile_img">
                                        <img src="https://img.icons8.com/ios-filled/256/000000/user-male-circle.png"/>
                                    </div>
                                    <div class="profile_info">
                                        <div><%= val.user_name %></div>
                                        <p class="margin_top"><%= val.date %></p>
                                    </div>
                                </div>
                                <div class="review_detail">
                                    <div>
                                        <div class="margin_top"><%= val.content %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line"></div>
                    <% }) %>
                <% } else{ %>
                        <div class="hotel_review">
                            <div style="font-weight: bold; font-size: 17px;">
                                <span> 평점 - </span>&nbsp;
                                <span> 후기 0 </span>
                            </div>
                        </div>
                    <div class="line"></div>
                    <div class="empty_tray">
                        <div class="empty_card">
                            작성된 후기가 없어요
                        </div>
                    </div>
                <% } %>

            </div>
        </div>
    </div>
    <!--        숙소 결제-->
    <div class="right_column">
        <div class="item">
            <div>
                <div class="per_day_charge">₩<%= roomsInfo.value.perDay %> / 박</div>
                <div style="margin: 20px 0 0 0; font-size: 14px">날짜</div>
                <div class="reservation_tray">
                    <div style="font-size: 14px; text-align: center">
                        체크인 &emsp;&emsp;&emsp; 체크아웃
                        <input type="button" class="calendar_btn" name="daterange" value=""/>
                    </div>
                </div>
            </div>
            <!--                요금표시-->
            <div class="receipt">
                <div class="charge_detail">
                    <span id="per_day_cost">₩<%= roomsInfo.value.perDay %></span>
                    <span id="per_date">x 1박</span>
                    <span class="charge"><%= roomsInfo.value.perDay %></span>
                    <span class="currency_mark">₩</span>
                </div>

                <div class="charge_detail">
                    <span>청소비</span>
                    <span class="charge"><%= roomsInfo.value.cleanFee %></span>
                    <span class="currency_mark">₩</span>
                </div>

                <div class="charge_detail">
                    <span>서비스 수수료</span>
                    <span class="charge"><%= roomsInfo.value.serviceFee %></span>
                    <span class="currency_mark">₩</span>
                </div>

                <div class="charge_detail" id="chargeSum">
                    <span>총 합계</span>
                    <span class="charge" id="total"></span>
                    <span class="currency_mark">₩</span>

                </div>
            </div>
            <!--                예약버튼-->
            <div style="padding: 0 20px; margin:20px 0">
                <form action="/rooms/<%= roomsInfo.id %>/reservation/payment" id="frm">
                    <input type="hidden" name="checkin" value="">
                    <input type="hidden" name="checkout" value="">
                    <input type="hidden" name="day" value="">
                    <input type="button" id="greenBtn" name="btn" value="예약하기"/>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <h5>Hotel reservation dummy site</h5>
</div>

<!--maps API 관련 코드 -->
<script src="/static/js/hotel_map.js"></script>

<!--모달처리 JS-->
<script src="/static/js/modal.js"></script>

<!--일정 그리고 숙박요금 계산 JS-->
<script src="/static/js/room/detail.js"></script>

<!--구글 맵스 API-->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBq4C8917Pxr1jaL8LAMhaIKwASCPRYpok"></script>
</body>
</html>
