<!doctype html>
<html lang="ko">
<head>
    <title>확인 및 결제</title>
    <link rel="shortcut icon" type="image⁄x-icon" href="/static/images/logo/logo-cabin.png">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <!--    폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/room/reservation.css"/>
    <!--    datePicker-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!--    datePicker-->
</head>
<body>
<div>
    <div class="title">
        <button class="back_btn" name="back_btn" onclick="history.go(-1);"><</button>
        확인 및 결제
    </div>
</div>

<div class="row">
    <!--        숙소 날짜 및 결제 -->
    <div class="left_column">
        <!--        숙소 간략정보-->
        <div class="item" id="leftSideTop">
            <div class="tray">
                <div class="card">
                    <img src="/static/images/rooms/<%= rooms[0].image %>"/>
                </div>
                <div class="img_desc">
                    <div>
                        <b id="hotelName"><%= rooms[0].name %></b>
                    </div>
                    <div style="font-size: 14px">
                        <p>
                            <span>인원 <%= rooms[0].simple_info.peopleNum %>명</span>&nbsp;
                            <span>침실 <%= rooms[0].simple_info.bedroom %>개</span>&nbsp;
                            <span>침대 <%= rooms[0].simple_info.bed %>개</span>&nbsp;
                            <span>욕실 <%= rooms[0].simple_info.bathroom %>개</span>
                        </p>
                    </div>
                    <div style="font-size: 15px; font-weight: 500">
                        평점 <%= rooms[0].score %> / 5 <span>(<%= rooms[0].count %>)</span>
                    </div>
                </div>
            </div>
        </div>
        <div style="border-top: 1px #E6E6E6 solid;"></div>

        <!--        숙소 날짜 확인-->
        <div class="item" id="leftSideMiddle">
            <div class="item_title">예약날짜</div>
            <div class="reservation_tray">
                <div>
                    <input type="button" class="calendar_btn" name="daterange" value=""/>
                </div>
            </div>
        </div>
        <div style="border-top: 1px #E6E6E6 solid;"></div>

        <div class="item" id="messageToHost">
            <div class="item_title">호스트에게 메시지 보내기</div>
            <div class="sub_title"><%= rooms[0].host_name %>님에게 여행 목적과 도착 예정 시간을 알려주세요.
            </div>
            <textarea class="message" placeholder="안녕하세요!"></textarea>
        </div>
        <div style="border-top: 1px #E6E6E6 solid;"></div>

        <!--        결제수단-->
        <div class="item" id="leftSideBottom">
            <div class="item_title">결제수단</div>
            <div class="payment">
                <button class="btn" id="kakaoPayBtn" value="nonClicked">
                    <img class="login_api_img" src="/static/images/payment_btn/payment_icon_yellow_medium.png">
                </button>
            </div>
        </div>

        <div style="border-top: 1px #E6E6E6 solid;"></div>
        <div>
            <input type="hidden" name="checkin" value="">
            <input type="hidden" name="checkout" value="">
            <input type="hidden" name="day" value="">
            <input type="hidden" name="host_name" value="<%= rooms[0].host_name %>">
            <input type="button" id="paymentBtn" value="확인 및 결제"/>
        </div>
        <div style="font-weight: bold; font-size: 14px">* 실제 결제가 아닌 더미 결제입니다.</div>
    </div>
    <!--        숙소 결제-->
    <div class="right_column">
        <div class="item" id="rightSide">
            <div class="right_side_title">요금 세부정보</div>
            <!--                요금표시-->
            <div class="receipt">
                <div class="charge_detail">
                    <span id="per_day_cost">₩<%= rooms[0].value.perDay %></span>
                    <span id="per_date">x <%= reservationInfo.day %>박</span>
                    <span class="charge"><%= reservationInfo.perDayFee %></span>
                    <span class="currency_mark">₩</span>
                </div>

                <div class="charge_detail">
                    <span>청소비</span>
                    <span class="charge"><%= rooms[0].value.cleanFee %></span>
                    <span class="currency_mark">₩</span>
                </div>

                <div class="charge_detail">
                    <span>서비스 수수료</span>
                    <span class="charge"><%= rooms[0].value.serviceFee %></span>
                    <span class="currency_mark">₩</span>
                </div>

                <div class="charge_detail" id="chargeSum">
                    <span>총 합계</span>
                    <span class="charge" id="total"></span>
                    <span class="currency_mark">₩</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <h5>Hotel reservation dummy site</h5>
</div>
<!--결제버튼, 카카오페이 API 결제하기-->
<script src="/static/js/api/kakao_pay_ready.js"></script>

<!--파파고 API 언어인식하기-->
<script src="/static/js/api/papago_api.js"></script>

<!--결제정보 관련 클래스-->
<script src="/static/js/classes/payment.js"></script>

<!--일정 그리고 숙박요금 계산-->
<script src="/static/js/room/reservation_date.js"></script>
</body>
</html>
